@import "theme.scss";
@import "bootstrap/scss/bootstrap.scss";
@import "maplibre-gl/dist/maplibre-gl.css";
@import "vue3-toastify/dist/index.css";

:root {
  --ws-create-color: $review-create-color;
  --ws-modify-color: $review-modify-color;
  --ws-delete-color: $review-delete-color;
}

html, body, #__nuxt {
  width: 100%;
  height: 100%;
}

/* Vue page transitions */
.fade-enter-active, .fade-leave-active,
.layout-enter-active, .layout-leave-active,
.page-enter-active, .page-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-active,
.layout-enter, .layout-leave-active,
.page-enter-from, .page-leave-to {
  opacity: 0;
}

a[aria-disabled="true"] {
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: none;
  opacity: 0.5;
}

label > .form-control:first-child,
label > .form-select:first-child {
  margin-top: $form-label-margin-bottom;
}

.editor-container {
  width: 100%;
  height: 100%;
}

.dropdown-menu {
  box-shadow: $box-shadow;
}

/* Review */

.bg-create {
  background-color: $review-create-color;
}
.bg-modify {
  background-color: $review-modify-color;
}
.bg-delete {
  background-color: $review-delete-color;
}
.text-create {
  color: #{darken($review-create-color, 27%)};
}
.text-modify {
  color: $review-modify-color;
}
.text-delete {
  color: #{darken($review-delete-color, 3%)};
}
