

/* Bootstrap Customization */
$border-radius: 0.15rem;
$card-height: 100%;
$primary: #9b0092;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$navbar-height: 58px;

$review-create-color: #39dbc0;
$review-modify-color: #db950a;
$review-delete-color: #cc2c47;
